<div class="col-md-4">
     <ul>
        <li><a href="#!">Home</a></li>
        <li><a href="#!/users/add">Add User</a></li>
        <li><a href="#!/users/edit">Edit User</a></li>
        <li><a href="#!/users">Display</a></li>
    </ul>
</div>
<div class="col-md-8" ng-controller="AddUserController">
    <form>
        <div class="form-group">
            <label for="name">{{ vm.userData.name}}</label>
            <input type="text" class="form-control" id="name" disabled>
        </div>
        <div class="form-group">
            <label for="email">{{ vm.userData.email}}</label>
            <input type="email" class="form-control" id="email" disabled>
        </div>
        <div class="form-group">
            <label for="phone">{{ vm.userData.phone}}</label>
            <input type="text" class="form-control" id="phone" disabled>
        </div>
        <div class="form-group">
            <label for="address">{{ vm.userData.address}}</label>
            <input type="text" class="form-control" id="address" disabled>
        </div>
        <button type="submit" class="btn btn-default">Edit</button>
        <button type="submit" class="btn btn-default">Cancel</button>
    </form>
</div>