<div class="col-md-4">
     <ul>
        <li><a href="#!">Home</a></li>
        <li><a href="#!/users/add">Add User</a></li>
        <li><a href="#!/users/edit">Edit User</a></li>
        <li><a href="#!/users">Display</a></li>
    </ul>
</div>
<div class="col-md-8" ng-controller="HomeController">
     <table class="table table-striped">
    <tbody ng-repeat="user in vm.users">
      <tr>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>
            <button type="submit" class="btn btn-success" ng-click="vm.displayUser(user.$id)">Display</button></a>
            <button type="submit" class="btn btn-info" ng-click="vm.editUser(user.$id)">Edit</button>
            <button type="submit" class="btn btn-danger" ng-click="vm.deleteUser($index)">Delete</button>
        </td>
      </tr>
    </tbody>
   
  </table>
</div>